.profile {
  margin: 0 auto;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.profile__description {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(33, 33, 33, 0.7);
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  padding: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  margin-top: auto;
  background-color: transparent;
  border-style: none;
  color: #212121;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0.7;
  transition: opacity 0.2s;
  position: relative;
  cursor: pointer;
}

.profile__edit-btn::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/pencil.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  background-color: #212121;
  color: #FCF5E5;
  border-style: none;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  align-self: flex-end;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  min-width: 149px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.profile__add-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .profile__column {
    text-align: center;
    margin-right: 0;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;
  }

  .profile__add-btn {
    margin: auto;
    width: 100%;
    min-width: 288px;
    align-self: center;
  }
}